<main>
  <div class="card">
    <div class="card_header">
      <h1>Task</h1>
      <div class="card_icon">🚀</div>
    </div>

    <form #form="ngForm" (ngSubmit)="addTask()">
      <input
        type="text"
        [(ngModel)]="newTask"
        #taskName="ngModel"
        name="newTask"
        placeholder="Notes..."
      />
    </form>

    <hr />

    <span *ngIf="!tasks.length"> No tasks ... </span>

    <ul *ngIf="tasks.length">
      <li *ngFor="let task of tasks; let i = index">
        <label [for]="i">
          <input
            type="checkbox"
            name="task"
            [checked]="task.isComplet"
            [id]="i"
          />
          {{ task.title }}
        </label>
      </li>
    </ul>
  </div>
</main>
