<main>
  <div @Animation class="card">
    <div class="card_header">
      <h1>Task</h1>
      <div class="card_icon">🚀</div>
    </div>

    <app-form-search (submit)="addTask($event)"></app-form-search>

    <span *ngIf="!tasks.length"> No tasks ... </span>

    <ul *ngIf="tasks.length">
      <li *ngFor="let task of tasks; let i = index">
        <app-task
          (toggleTask)="toggleTask(task.title)"
          [isComplet]="task.isComplet"
          [title]="task.title"
          [id]="i"
        >
        </app-task>
      </li>
    </ul>
  </div>
</main>
