<main>
  <div class="card">
    <div class="card_header">
      <h1>Task</h1>
      <div class="card_icon"></div>
    </div>

    <form>
      <input type="text" placeholder="Notes..." />
    </form>

    <hr />

    <ul class="card_list">
      <li>
        <label for="">
          <input type="checkbox" name="" id="" />
          Here’s a task item
        </label>
      </li>
      <li>
        <label for="">
          <input type="checkbox" name="" id="" />
          Here’s a task item
        </label>
      </li>
      <li>
        <label for="">
          <input type="checkbox" name="" id="" />
          Here’s a task item
        </label>
      </li>
      <li>
        <label for="">
          <input type="checkbox" name="" id="" />
          Here’s a task item
        </label>
      </li>
    </ul>
  </div>
</main>
